/*=============== Reset ===============*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: visible;
  overflow-y: visible;
  overflow-x: visible;
  font-family: 'Kanit', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

a,
a:hover,
a:focus {
  outline: 0;
  color: inherit;
  text-decoration: none;
}

a[href^=tel] {
  white-space: nowrap;
}

img {
  border: 0;
  outline: 0;
  max-width: 100%;
  vertical-align: middle;
}

table {
  width: 100%;
}

th {
  font-weight: normal;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  outline: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
  min-width: inherit;
  font: inherit;
  text-transform: none;
  text-align: left;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe {
  border: 0;
}

video::-webkit-media-controls {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

b,
strong {
  font-weight: bold;
  color: #333;
}

small {
  font-size: 80%;
  display: inline-block;
}

address {
  font-style: normal;
}

dd {
  -webkit-margin-start: 20px;
}

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4,
h5,
.heading-5,
h6,
.heading-6 {
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  line-height: 0.9;
  color: rgb(255, 255, 255);
}

h1,
.heading-h1 {
  font-size: 60px;
}

h2,
.heading-h2 {
  font-size: 55px;
}

h3,
.heading-h3 {
  font-size: 30px;
}

h4,
.heading-h4 {
  font-size: 24px;
}

h5,
.heading-h5 {
  font-size: 22px;
}

h6,
.heading-h6 {
  font-size: 20px;
}

a,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit;
  cursor: pointer;
}

/*=============== Header ===============*/
header {
  /* border: 3px rgb(236, 98, 98) dashed; */
  overflow: visible;
  z-index: 5;
  width: 100%;
  position: absolute;
  padding: 20px 20px;
  
}
.container-header{
  max-width: 1140px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.header-logo {
  max-width: 200px;
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
  top: 16px;
  display: inline-block;
  color: white;
}

.header-logo a:link {
  text-decoration: none;
}

/*=============== Top Navigation Bar ===============*/
.topnav {
  display: inline-block;
  float: right;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 10px 7px;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: 5px auto;
  width: auto;
  z-index: 10;
}

.dropdown a {
  text-decoration: none;
  margin: 10px auto;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
}

.dropdown a:visited {
  color: white;
}

/*=============== Banner Slide ===============*/
.mySlides {
  display: none;
}

.top-banner {
  position: relative;
  height: 40%;
  width: 100%;
  overflow: hidden;
}

.top-banner img {
  object-fit: cover;
  height: 500px;
  
}

.text-banner {
  position: absolute;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a.btn {
  font-size: 0.2rem;
  padding: 5px 20px;
  margin: auto 3px;
}

div.top-banner {
  display: block;
}

.top-banner .text-banner .btn01 {
  background-color: black;
  text-decoration: none;
  color: white;
  border: rgb(255, 255, 255) 2px solid;

}

.top-banner .text-banner .btn02 {
  background-color: white;
  text-decoration: none;
  color: black;
  border: white 2px solid;
}

.top-banner .banner-slide01 {
  position: relative;
  z-index: -4;
}

/*=============== Card Section ===============*/
.container.container-card {
  text-align: center;
  margin: 100px auto;
  max-width: 1140px;
}

.container.container-card .row {
  margin: 30px 10px;
}

.container.container-card .row h6 {
  padding: 20px 10px;
  color: black;
}

.container.container-card h3 {
  color: black;
}

.container.container-card .row i {
  margin-top: 30px;
}
/*=============== Counting Animation Section ===============*/

.container-counting {
  background-color: rgb(65, 65, 65);
  padding: 30px 0;
  margin: 180px auto;
}

.container-counting div.counting {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px auto;
  height: 10%;
  max-width: 1140px;

}
div.container-counting div {

  justify-content: center;
  align-items: center;
  flex: 25%;
  
}

div.container-counting div p {
padding: 90px auto;
}

div.container-counting div p.count {
  color: white;
  font-size: 3rem;
  text-align: center;
}
div.container-counting div p.counting-content {
  color: white;
 
  text-align: center;
}

/*=============== Tab Section ===============*/


/* Style the tab */
.container-tab h3 {
  color: black;
  text-align: center;
  margin-bottom: 40px;
}
.tab {
  display: flex;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
 
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  /* float: left; */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  color: darkorange;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 0px;
  border-top: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.tab-gallery div {
  justify-content: center;
  flex: 25%;
}


/*=============== Footer ===============*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 10px auto;
}



/*=============== Ipad ===============*/
@media only screen and (min-width : 768px) and (max-width : 991px) {
  /* Styles */
  .tab-gallery div {
    flex: 50%;
  }
  div.container-counting div{
    flex: 50%;
  }

}



/*=============== Mobile ===============*/
@media only screen and (max-width : 767px) {
  /* Styles */
  .tab-gallery div {
    flex: 100%;
  }
  div.container-counting div{
    flex: 100%;
  }
}