* {
  box-sizing: border-box;
}
body{
  position: relative;
}


header {
  /* border: 3px rgb(236, 98, 98) dashed; */
  overflow: visible;
  z-index: 5;
  width: 100%;
  position: absolute;
  padding: 20px 20px;
}

h1 {
  font-size: 60px;
}
h4 {
font-size: 20px;
}

p {
  font-size: 12px;
}

.header-logo {
  max-width: 200px;
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
  top: 16px;
  display: inline-block;
}
.header-logo a:link {
  text-decoration: none;
}
.header-logo a:visited {
  color: white;
}
.nav-top{
  display: inline-block;
  float: right;
}
.dropdown {
  position: relative;
  display: inline-block;
  padding: 10px 3px;
}

.dropdown-content {
  display: none;
  position: absolute;
 margin: 5px auto;
  width: auto;
  z-index: 10;
}
.dropdown a {
  text-decoration: none;
  margin: 10px auto;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a{
  display: block;
}
.dropdown a:visited {
  color: white;
}



/* banner slide */
.mySlides {
  display: none;
}

.top-banner {
  position: relative;
}

.text-banner {
  position: absolute;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a.btn {
  font-size: 0.2rem;
  padding: 5px 20px;
  margin: auto 3px;
}

div.top-banner {
display: block;
}
.top-banner .text-banner .btn01 {
  background-color: black; 
  text-decoration: none;
  color: white;
  border: rgb(255, 255, 255) 2px solid;
  
}

.top-banner .text-banner .btn02 {
  background-color: white;
  text-decoration: none;
  color: black;
  border: white 2px solid;
}

.top-banner .banner-slide01 {
  position: relative;
  z-index: -4;
}

.container.container-card {
text-align: center;
margin: 100px auto;
}

.container.container-card .row {
  margin: 30px 10px;
  }

.container.container-card .row h6 {
padding: 20px 10px;
}
.container.container-card .row i {
  margin-top: 30px;
  }